<h3 class = 'centre_text'>Editing Profile</h3>
<%= form_for @profile do |f| %>
  <% if @profile.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday %>
  </div>

   <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>

  <div class="links">
    <button class="btn btn-default" role="button"><%= 'Save' %></button>
  </div>

  <div class = "links">
	<%= link_to 'Back', profile_path(current_user), {:class => 'link_colour'} %></p>
</div>
<% end %>