<% provide(:title, "Viewing Thread | ROaR") %>
<%= render @article %>

<h3>Thread Body</h3>
<div id = "threadBody">
	<p id ="threadContent"><%= @article.body %></p>
</div>

<h3> Comments (<%= @article.comments.size %>) </h3>
<div id="comments">
	<%= render @article.comments %>
</div>

<h3>Add Comment</h3>
<%= render :file => 'comments/new' %>



